<!-- file: views/login.erb -->

<h1>Welcome to Papaya BnB</h1>

<form action="/login" method="POST">

  Username: <input type="text" name="name">
  Email: <input type="text" name="email">
  Password: <input type="password" name="password">
  <input type="submit" value="Submit the form">

</form>