<!-- file: views/new_booking.erb -->

<h1>Make a new booking request</h1>

<form action="/bookings/available" method="POST">

  User ID: <input type="text" name="user_id">
  Check-in date: <input type="date" name="start_date">
  Check-out date: <input type="date" name="end_date">
  <input type="submit" value="Search">

</form>
  
